@model VitalNutri.Models.Alimento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Alimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carboidratos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carboidratos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gorduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gorduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proteinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proteinas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nutricionista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutricionista.NutricionistaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlimentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
