@model VitalNutri.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nutricionista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutricionista.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreinadorPessoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreinadorPessoal.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiAcompanhamentoNutricionista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossuiAcompanhamentoNutricionista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiAcompanhamentoPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossuiAcompanhamentoPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiPlanoAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossuiPlanoAlimentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossuiPlanoTreino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossuiPlanoTreino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaPeso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
